<div id="<%= dom_id transfer %>">
  <p>
    <strong>Operation time:</strong>
    <%= transfer.operation_time %>
  </p>

  <p>
    <strong>Operation type:</strong>
    <%= transfer.operation_type %>
  </p>

  <p>
    <strong>Source acc:</strong>
    <%= transfer.source_acc_id_id %>
  </p>

  <p>
    <strong>Dest acc:</strong>
    <%= transfer.dest_acc_id_id %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= transfer.sum %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= transfer.comment %>
  </p>

</div>
