<div id="<%= dom_id account %>">
  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= account.number %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Main:</strong>
    <%= account.main %>
  </p>

</div>
