<p style="color: green"><%= notice %></p>

<h1>Accounts</h1>

<%= link_to "Back to home", home_index_path %>

<div id="accounts">
  <% @accounts.each do |account| %>
    <%= render account %>

    <% if account.card %>
      <p>
        Card: <strong><%= account.card.number %></strong>
      </p>
      <p>
        Expiration date: <strong><%= account.card.end_date %></strong>
      </p>
    <% else %>
      There is no card for the account. <%= link_to "Issue card", new_account_card_path(account.id) %>
    <% end %>

    <p>
      <%= link_to "Show this account", account %>
    </p>
  <% end %>
</div>

<%= link_to "New account", new_account_path %>
