<p style="color: green"><%= notice %></p>

<%= render @account %>
<br>

<div>
  <% if @account.card %>
    <p>
      Card: <strong><%= @account.card.number %></strong>
    </p>
    <p>
      Expiration date: <strong><%= @account.card.end_date %></strong>
    </p>
    <p>
      CVV: <strong><%= @account.card.cvv %></strong>
    </p>
    <%= link_to "Pay for purchases", new_account_transfer_path(@account.id, type: :pay) %>
  <% else %>
    There is no card for the account. <%= link_to "Issue card", new_account_card_path(@account.id) %>
  <% end %>
</div>

<br>
<p>
  <%= link_to "Replenish account", new_account_transfer_path(@account.id, type: :income) %>
  | <%= link_to "Transfer by account number", new_account_transfer_path(@account.id, type: :transfer_by_account) %>
  | <%= link_to "Transfer by card number (1% fee)", new_account_transfer_path(@account.id, type: :transfer_by_card) %>
  | <%= link_to "Transfer by phone number", new_account_transfer_path(@account.id, type: :transfer_by_phone) %>
  | <%= link_to "Transfer between your accounts", new_account_transfer_path(@account.id, type: :transfer_to_yourself) %>
</p>
<br>

<div>
  <%= link_to "Back to accounts", accounts_path %>
  | <%= link_to "Edit account", edit_account_path %>
</div>

<br>

<div>
  <%= button_to "Destroy this account", @account, method: :delete %>
</div>